<!DOCTYPE html>
<html>
<head>
<title>Bar Chart</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
</head>
<body>
  <canvas id="myChart1" width="1000" height="400"></canvas>
  <canvas id="myChart2" width="1000" height="400"></canvas>
  <canvas id="myChart3" width="1000" height="400"></canvas>
  <canvas id="myChart4" width="1000" height="400"></canvas>
  <canvas id="myChart5" width="1000" height="400"></canvas>
  <canvas id="myChart6" width="1000" height="400"></canvas>
  <canvas id="myChart7" width="1000" height="400"></canvas>
  <canvas id="myChart8" width="1000" height="400"></canvas>
  <canvas id="myChart9" width="1000" height="400"></canvas>
  <style>
     #myChart1, #myChart2, #myChart3, #myChart4, #myChart5, #myChart6, #myChart7, #myChart8, #myChart9 {
        width:100%;
    }
  </style>

  <script>
    // Get the context of the canvas element we want to select
    var ctx1 = document.getElementById("myChart1").getContext("2d");
    var ctx2 = document.getElementById("myChart2").getContext("2d");
    var ctx3 = document.getElementById("myChart3").getContext("2d");
    var ctx4 = document.getElementById("myChart4").getContext("2d");
    var ctx5 = document.getElementById("myChart5").getContext("2d");
    var ctx6 = document.getElementById("myChart6").getContext("2d");
    var ctx7 = document.getElementById("myChart7").getContext("2d");
    var ctx8 = document.getElementById("myChart8").getContext("2d");
    var ctx9 = document.getElementById("myChart9").getContext("2d");

    var date = {{date|safe}};
    var commits = {{commits|safe}};
    var issues = {{issues|safe}};
    var defect_density = {{defect_density|safe}};
    var issue_spoilage_avg = {{issue_spoilage_avg|safe}};
    var lines_of_code  = {{lines_of_code|safe}};

    // generates random colors from hex values
    function getRandomColor() {
    var letters = '0123456789ABCDEF';
    var color = '#';
    for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
        }
    return color;
    }
    // assigned colors for each of the metrics
    randomColorC = getRandomColor()
    randomColorI = getRandomColor()
    randomColorDD = getRandomColor()
    randomColorISA = getRandomColor()
    randomColorLOC = getRandomColor()


    var myChart1 = new Chart(ctx1, {
        type: 'line',
        data: {
            labels: date,
            datasets: [{
                label: "Commits",
                borderColor: randomColorC,
                strokeColor: randomColorC,
                pointColor: randomColorC,
                pointHoverBorderColor: randomColorC,
                pointHoverBackgroundColor: "rgba(75, 192, 192, 0.2)",
                fill:false,
                data: commits
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    distribution: 'series',
                    type: 'time',
                    time: {
                        parser: 'YYYY-MM-DD HH:mm:ss',
                        unit: 'month',
                        displayFormats: {
                            'month': 'YYYY MMM DD',
                            'year': 'YYYY MMM DD'
                        }
                    },
                    scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        },
                    ticks: {
                        source: 'auto'
                    }
                      }],
            
                yAxes: [{
                        scaleLabel: {
                        display: true,
                        labelString: 'Number of Commits'
                        }
                    }]
                }
            }
        
    });

    var myChart2 = new Chart(ctx2, {
        type: 'line',
        data: {
            labels: date,
            datasets: [{
                label: 'Issues',
                borderColor: randomColorI,
                strokeColor: randomColorI,
                pointColor: randomColorI,
                pointHoverBorderColor: randomColorI,
                pointHoverBackgroundColor: "rgba(75, 192, 192, 0.2)",
                fill:false,
                data: issues
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    distribution: 'series',
                    type: 'time',
                    time: {
                        parser: 'YYYY-MM-DD HH:mm:ss',
                        unit: 'month',
                        displayFormats: {
                            'month': 'YYYY MMM DD',
                            'year': 'YYYY MMM DD'
                        }
                    },
                    scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        },
                    ticks: {
                        source: 'auto'
                    }
                      }],
        
                yAxes: [{
                        scaleLabel: {
                        display: true,
                        labelString: 'Number of Issues'
                        }
                    }]
                }
            }
    });

    var myChart3 = new Chart(ctx3, {
        type: 'line',
        data: {
            labels: date,
            datasets: [{
                label: 'Defect Density',
                borderColor: randomColorDD,
                strokeColor: randomColorDD,
                pointColor: randomColorDD,
                pointHoverBorderColor: randomColorDD,
                pointHoverBackgroundColor: "rgba(75, 192, 192, 0.2)",
                fill:false,
                data: defect_density
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    distribution: 'series',
                    type: 'time',
                    time: {
                        parser: 'YYYY-MM-DD HH:mm:ss',
                        unit: 'month',
                        displayFormats: {
                            'month': 'YYYY MMM DD',
                            'year': 'YYYY MMM DD'
                        }
                    },
                    scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        },
                    ticks: {
                        source: 'auto'
                    }
                      }],
                        
                yAxes: [{
                        scaleLabel: {
                        display: true,
                        labelString: 'Defect Density'
                        }
                    }]
                }
        }
    });

    var myChart4 = new Chart(ctx4, {
        type: "line",
        data: {
            labels: date,
            datasets: [{
                label: 'Lines of Code',
                borderColor: randomColorLOC,
                strokeColor: randomColorLOC,
                pointColor: randomColorLOC,
                pointHoverBorderColor: randomColorLOC,
                pointHoverBackgroundColor: "rgba(75, 192, 192, 0.2)",
                fill:false,
                data: lines_of_code
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    distribution: 'series',
                    type: 'time',
                    time: {
                        parser: 'YYYY-MM-DD HH:mm:ss',
                        unit: 'month',
                        displayFormats: {
                            'month': 'YYYY MMM DD',
                            'year': 'YYYY MMM DD'
                        }
                    },
                    scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        },
                    ticks: {
                        source: 'auto'
                    }
                      }],
                yAxes: [{
                        scaleLabel: {
                        display: true,
                        labelString: 'Lines of Code'
                        }
                    }]
                }
            }
    });

    var myChart5 = new Chart(ctx5, {
        type: 'line',
        data: {
            labels: date,
            datasets: [{
                label: "Issue Spoilage",
                borderColor: randomColorISA,
                strokeColor: randomColorISA,
                pointColor: randomColorISA,
                pointHoverBorderColor: randomColorISA,
                pointHoverBackgroundColor: "rgba(75, 192, 192, 0.2)",
                fill:false,
                data: issue_spoilage_avg
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    distribution: 'series',
                    type: 'time',
                    time: {
                        parser: 'YYYY-MM-DD HH:mm:ss',
                        unit: 'month',
                        displayFormats: {
                            'month': 'YYYY MMM DD',
                            'year': 'YYYY MMM DD'
                        }
                    },
                    scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        },
                    ticks: {
                        source: 'auto'
                    }
                      }],
                        
                yAxes: [{
                        scaleLabel: {
                        display: true,
                        labelString: 'Issue Spoilage Avg'
                        }
                    }]
                }
            }
    });
    var myChart6 = new Chart(ctx6, {
        type: 'line',
        data: {
            labels: date,
            datasets: [{
                label: 'Issue Spoilage',
                yAxisID: 'Issue Spoilage',
                borderColor: randomColorISA,
                strokeColor: randomColorISA,
                pointColor: randomColorISA,
                pointHoverBorderColor: randomColorISA,
                pointHoverBackgroundColor: "rgba(75, 192, 192, 0.2)",
                fill:false,
                data: issue_spoilage_avg
            },
            {
                label: 'Defect Density',
                yAxisID: 'Defect Density',
                borderColor: randomColorDD,
                strokeColor: randomColorDD,
                pointColor: randomColorDD,
                pointHoverBorderColor: randomColorDD,
                pointHoverBackgroundColor: 'rgba(75, 192, 192, 0.2)',
                fill:false,
                data: defect_density
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    distribution: 'series',
                    type: 'time',
                    time: {
                        parser: 'YYYY-MM-DD HH:mm:ss',
                        unit: 'month',
                        displayFormats: {
                            'month': 'YYYY MMM DD',
                            'year': 'YYYY MMM DD'
                        }
                    },
                    scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        },
                    ticks: {
                        source: 'auto'
                    }
                      }],
                yAxes: [{
                        id: 'Issue Spoilage',
                        type: 'linear',
                        position: 'left',
                        scaleLabel: {
                            display: true,
                            labelString: 'Issue Spoilage Avg'
                            }
                        },
                        {
                        id: 'Defect Density',
                        labelString: 'Defect Density',
                        type: 'linear',
                        position: 'right',
                        scaleLabel: {
                            display: true,
                            labelString: 'Defect Density'
                            }
                        }]
                }
            }
    });

    var myChart7 = new Chart(ctx7, {
        type: "line",
        data: {
            labels: date,
            datasets: [{
                label: 'Defect Density',
                yAxisID: 'Defect Density',
                borderColor: randomColorDD,
                strokeColor: randomColorDD,
                pointColor: randomColorDD,
                pointHoverBorderColor: randomColorDD,
                pointHoverBackgroundColor: 'rgba(75, 192, 192, 0.2)',
                fill:false,
                data: defect_density
            },
            {
                label: 'Lines of Code',
                yAxisID: 'Lines of Code',
                borderColor: randomColorLOC,
                strokeColor: randomColorLOC,
                pointColor: randomColorLOC,
                pointHoverBorderColor: randomColorLOC,
                pointHoverBackgroundColor: 'rgba(75, 192, 192, 0.2)',
                fill:false,
                data: lines_of_code
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    distribution: 'series',
                    type: 'time',
                    time: {
                        parser: 'YYYY-MM-DD HH:mm:ss',
                        unit: 'month',
                        displayFormats: {
                            'month': 'YYYY MMM DD',
                            'year': 'YYYY MMM DD'
                        }
                    },
                    scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        },
                    ticks: {
                        source: 'auto'
                    }
                      }],
                yAxes: [{
                        id: 'Defect Density',
                        type: 'linear',
                        position: 'left',
                        scaleLabel: {
                            display: true,
                            labelString: 'Defect Density'
                            }
                        },
                        {
                        id: 'Lines of Code',
                        type: 'linear',
                        position: 'right',
                        scaleLabel: {
                            display: true,
                            labelString: 'Lines of Code'
                            }
                        }]
                }
            }
    });

    var myChart8 = new Chart(ctx8, {
        type: 'line',
        data: {
            labels: date,
            datasets: [{
                label: 'Issues',
                yAxisID: 'Issues',
                borderColor: randomColorI,
                strokeColor: randomColorI,
                pointColor: randomColorI,
                pointHoverBorderColor: randomColorI,
                pointHoverBackgroundColor: "rgba(75, 192, 192, 0.2)",
                fill:false,
                data: issues
            },
            {
                label: "Defect Density",
                yAxisID: 'Defect Density',
                borderColor: randomColorDD,
                strokeColor: randomColorDD,
                pointColor: randomColorDD,
                pointHoverBorderColor: randomColorDD,
                pointHoverBackgroundColor: "rgba(75, 192, 192, 0.2)",
                fill:false,
                data: defect_density
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    distribution: 'series',
                    type: 'time',
                    time: {
                        parser: 'YYYY-MM-DD HH:mm:ss',
                        unit: 'month',
                        displayFormats: {
                            'month': 'YYYY MMM DD',
                            'year': 'YYYY MMM DD'
                        }
                    },
                    scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        },
                    ticks: {
                        source: 'auto'
                    }
                      }],
                yAxes: [{
                    id: 'Issues',
                    type: 'linear',
                    position: 'left',
                    scaleLabel: {
                        display: true,
                        labelString: 'Number of Issues'
                            }
                        },
                        {
                        id: 'Defect Density',
                        type: 'linear',
                        position: 'right',
                        scaleLabel: {
                            display: true,
                            labelString: 'Defect Density'
                            }
                        }]
                }
            }
    });


    var myChart9 = new Chart(ctx9, {
        type: "line",
        data: {
            labels: date,
            datasets: [{
                label: "Commits",
                yAxisID: 'Commits',
                borderColor: randomColorC,
                strokeColor: randomColorC,
                pointColor: randomColorC,
                pointHoverBorderColor: randomColorC,
                pointHoverBackgroundColor: "rgba(75, 192, 192, 0.2)",
                fill:false,
                data: commits
            },
            {
                label: "Issues",
                yAxisID: 'Issues',
                borderColor: randomColorI,
                strokeColor: randomColorI,
                pointColor: randomColorI,
                pointHoverBorderColor: randomColorI,
                pointHoverBackgroundColor: "rgba(75, 192, 192, 0.2)",
                fill:false,
                data: issues
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    distribution: 'series',
                    type: 'time',
                    time: {
                        parser: 'YYYY-MM-DD HH:mm:ss',
                        unit: 'month',
                        displayFormats: {
                            'month': 'YYYY MMM DD',
                            'year': 'YYYY MMM DD'
                        }
                    },
                    scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        },
                    ticks: {
                        source: 'auto'
                    }
                      }],
                yAxes: [{
                        id: 'Commits',
                        type: 'linear',
                        position: 'left',
                        scaleLabel: {
                            display: true,
                            labelString: 'Number of Commits'
                            }
                        },
                        {
                        id: 'Issues',
                        type: 'linear',
                        position: 'right',
                        scaleLabel: {
                            display: true,
                            labelString: 'Number of Issues'
                            }
                        }]
                }
            }
    });

  </script>
</body>
</html>