<!DOCTYPE html>
<html>
<head>
<title>Bar Chart</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
</head>
<body>
  <canvas id="myChart1" width="1000" height="400"></canvas>
  <canvas id="myChart2" width="1000" height="400"></canvas>
  <canvas id="myChart3" width="1000" height="400"></canvas>
  <canvas id="myChart4" width="1000" height="400"></canvas>
  <canvas id="myChart5" width="1000" height="400"></canvas>
  <canvas id="myChart6" width="1000" height="400"></canvas>
  <style>
     #myChart1, #myChart2, #myChart3, #myChart4, #myChart5, #myChart5 {
        width:100%;
    }
  </style>

  <script>
    // Get the context of the canvas element we want to select
    var ctx1 = document.getElementById("myChart1").getContext("2d");
    var ctx2 = document.getElementById("myChart2").getContext("2d");
    var ctx3 = document.getElementById("myChart3").getContext("2d");
    var ctx4 = document.getElementById("myChart4").getContext("2d");
    var ctx5 = document.getElementById("myChart5").getContext("2d");
    var ctx6 = document.getElementById("myChart6").getContext("2d");

    var date = {{date|safe}};
    var commits = {{commits|safe}};
    var issues = {{issues|safe}};
    var defect_density = {{defect_density|safe}};
    var issue_spoilage_avg = {{issue_spoilage_avg|safe}};
    var lines_of_code  = {{lines_of_code|safe}};

    // generates random colors from hex values
    function getRandomColor() {
    var letters = '0123456789ABCDEF';
    var color = '#';
    for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
        }
    return color;
    }
    // assigned colors for each of the metrics
    randomColorC = getRandomColor()
    randomColorI = getRandomColor()
    randomColorDD = getRandomColor()
    randomColorISA = getRandomColor()
    randomColorLOC = getRandomColor()


    var myChart1 = new Chart(ctx1, {
        type: "line",
        data: {
            labels: date,
            datasets: [{
                label: "My Commits",
                borderColor: randomColorC,
                strokeColor: randomColorC,
                pointColor: randomColorC,
                pointHoverBorderColor: randomColorC,
                pointHoverBackgroundColor: "rgba(75, 192, 192, 0.2)",
                data: commits
            }]
        },
        options: {
            scales: {
                xAxes: [{
                        tick: 'data',
                        type: 'time',
                        time:{
                            displayFormats:{
                                month:""
                            }
                        }   
                      }]
                }
            }
    });

    var myChart2 = new Chart(ctx2, {
        type: "line",
        data: {
            labels: date,
            datasets: [{
                label: "Issues",
                borderColor: randomColorI,
                strokeColor: randomColorI,
                pointColor: randomColorI,
                pointHoverBorderColor: randomColorI,
                pointHoverBackgroundColor: "rgba(75, 192, 192, 0.2)",
                data: issues
            }]
        },
        options: {
            scales: {
                xAxes: [{
                        tick: 'data',
                        type: 'time',
                        time:{
                            displayFormats:{
                                month:""
                            }
                        }  
                      }]
                }
            }
    });

    var myChart3 = new Chart(ctx3, {
        type: "line",
        data: {
            labels: date,
            datasets: [{
                label: "Defect Density",
                borderColor: randomColorDD,
                strokeColor: randomColorDD,
                pointColor: randomColorDD,
                pointHoverBorderColor: randomColorDD,
                pointHoverBackgroundColor: "rgba(75, 192, 192, 0.2)",
                data: defect_density
            }]
        },
        options: {
            scales: {
                xAxes: [{
                        tick: 'data',
                        type: 'time',
                        time:{
                            displayFormats:{
                                month:""
                            }
                        }
                      }]
                }
            }
    });

    var myChart4 = new Chart(ctx4, {
        type: "line",
        data: {
            labels: date,
            datasets: [{
                label: "Lines of Code",
                borderColor: randomColorLOC,
                strokeColor: randomColorLOC,
                pointColor: randomColorLOC,
                pointHoverBorderColor: randomColorLOC,
                pointHoverBackgroundColor: "rgba(75, 192, 192, 0.2)",
                data: lines_of_code
            }]
        },
        options: {
            scales: {
                xAxes: [{
                        tick: 'data',
                        type: 'time',
                        time:{
                            displayFormats:{
                                month:""
                            }
                        } 
                      }]
                }
            }
    });

    var myChart5 = new Chart(ctx5, {
        type: "line",
        data: {
            labels: date,
            datasets: [{
                label: "Issue Spoilage",
                borderColor: randomColorISA,
                strokeColor: randomColorISA,
                pointColor: randomColorISA,
                pointHoverBorderColor: randomColorISA,
                pointHoverBackgroundColor: "rgba(75, 192, 192, 0.2)",
                data: issue_spoilage_avg
            }]
        },
        options: {
            scales: {
                xAxes: [{
                        tick: 'data',
                        type: 'time',
                        time:{
                            displayFormats:{
                                month:""
                            }
                        } 
                      }]
                }
            }
    });
    var myChart6 = new Chart(ctx6, {
        type: "line",
        data: {
            labels: date,
            datasets: [{
                label: "Issue Spoilage",
                borderColor: randomColorISA,
                strokeColor: randomColorISA,
                pointColor: randomColorISA,
                pointHoverBorderColor: randomColorISA,
                pointHoverBackgroundColor: "rgba(75, 192, 192, 0.2)",
                data: issue_spoilage_avg
            },
            {
                label: "Defect Density",
                borderColor: randomColorDD,
                strokeColor: randomColorDD,
                pointColor: randomColorDD,
                pointHoverBorderColor: randomColorDD,
                pointHoverBackgroundColor: "rgba(75, 192, 192, 0.2)",
                data: defect_density
            }]
        },
        options: {
            scales: {
                xAxes: [{
                        tick: 'data',
                        type: 'time',
                        time:{
                            displayFormats:{
                                month:""
                            }
                        } 
                      }]
                }
            }
    });

  </script>
</body>
</html>